:root {
    font: 11pt Consolas, monospace;

    &, &[pallete="red"] {
        --palette-1: #bd2a2e;
        --palette-2: #3b3936;
        --palette-3: #b2bebf;
        --palette-text-1: #eee;
        --palette-text-2: #eee;
        --palette-text-3: #333;
    }

    &[pallete="yellow"] {
        --palette-1: #ffc425;
        --palette-2: #2f241d;
        --palette-3: #ffffff;
        --palette-text-1: #333;
        --palette-text-2: #eee;
        --palette-text-3: #333;
    }

    &[pallete="blue-yellow"] {
        --palette-1: #46edc8;
        --palette-2: #374d7c;
        --palette-3: #fdf289;
        --palette-text-1: #333;
        --palette-text-2: #eee;
        --palette-text-3: #333;
    }
}