/* - Base styles ------------------------------------------------------------------------ */

pre,
code {
    color: #fa8072;
}

a {
    cursor: pointer;
    text-decoration-color: currentColor;

    &:active,
    &:visited {
        color: inherit;
    }

    &:hover {
        color: var(--palette-1);
    }
}

ul,
ol,
menu {
    li {
        &::marker {
            content: none;
        }

        &+li {
            margin-top: 0.25rem;
        }
    }
}

/* - Toggle switch ---------------------------------------------------------------------- */

input[type="checkbox"].toggle-switch {
    appearance: none;
    position: relative;
    border: 0;
    outline: 0;
    width: 3em;
    height: 1.5em;
    vertical-align: middle;

    --toggle-switch-bg-off: var(--palette-2);
    --toggle-switch-bg-on: var(--palette-1);
    --toggle-switch-fg: var(--palette-3);
    --separation: 0.3em;

    /* Contents before checkbox to create toggle handle */
    &::before {
        content: '';
        width: 1em;
        height: 1em;
        display: block;
        position: absolute;
        left: var(--separation);
        top: 50%;
        transform: translateY(-50%);
        border-radius: 100%;
        background: var(--toggle-switch-fg);
    }

    /* To create surface of toggle button */
    &::after {
        content: '';
        width: 100%;
        height: 100%;
        display: inline-block;
        background: var(--toggle-switch-bg-off);
        border-radius: 1.5em;
        clear: both;
    }

    /* Shift the handle to left on check event */
    &:checked {
        &::before {
            left: unset;
            right: var(--separation);
        }

        /* Background color when toggle button will be active */
        &::after {
            background: var(--toggle-switch-bg-on);
        }
    }
}

/* - Classes ---------------------------------------------------------------------------- */

.icon {
    display: inline-block;
    vertical-align: middle;
    width: 2em;
    height: 2em;
    padding: 0.25em;

    &:hover {
        color: var(--brand-color);
    }
}

.pill {
    border: 1px solid var(--palette-1);
    background: var(--palette-2);
    color: var(--palette-text-2);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr auto;

    &:not(.show-details) {
        .description {
            display: none;
        }
    }

    &.show-details {
        .description+.tag-list {
            padding-top: 0.5em;
        }
    }

    .description,
    .tag-list {
        grid-column: span 2;
    }

    .title {
        font-size: 1.5em;
    }

    .description {
        .image {
            float: left;
            border-radius: 0.25em;
            border: 1px solid var(--palette-3);
            background: var(--palette-3);

            &:not(:last-child) {
                max-width: 50%;
                margin-right: 1em;
            }
        }
    }


    .tag-list {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        gap: 0.25em;
        padding-block: 0.25em;

        .tag {
            cursor: pointer;
            user-select: none;

            padding-block: 0.25em 0.125em;
            padding-inline: 0.25em 0.5em;
            border-radius: 0.25em;
            border: 1px solid var(--palette-text-3);
            background: var(--palette-3);
            color: var(--palette-text-3);

            &:hover {
                font-weight: bold;
            }

            &.selected {
                background: var(--palette-1);
                color: var(--palette-text-1);
            }

            .icon {
                margin-right: 0.5em;
                font-size: 0.75em;
            }
        }
    }
}

.button {
    border-radius: 0.25em;
    padding: 0.5em;
    cursor: pointer;

    &.main {
        border: 1px solid var(--palette-2);
        background: var(--palette-2);
        color: var(--palette-text-2);

        &:hover {
            border-color: var(--palette-1);
            font-weight: bold;
        }
    }

    &.secondary {
        border: 1px solid var(--palette-2);
        color: var(--palette-2);

        &:hover {
            border-color: var(--palette-1);
            color: var(--palette-1);
            font-weight: bold;
        }
    }

    &.nav {
        font-weight: bold;

        &:hover {
            color: var(--palette-1);
        }
    }
}

.full-width {
    width: 100%;
}

/* - Logo ------------------------------------------------------------------------------- */

#logo {
    cursor: pointer;
}

/* - Navbar ----------------------------------------------------------------------------- */

#navbar {
    display: flex;
    justify-items: flex-start;
    align-items: center;
    padding: 1rem;
    gap: 1rem;

    background: var(--palette-2);
    color: var(--palette-text-2);

    .title {
        user-select: none;
        font-size: 1.5rem;
        padding-right: 5rem;
    }
}

/* - Content ---------------------------------------------------------------------------- */

#content {
    display: grid;
    grid-template-rows: auto 1fr;
}

/* - Menu ------------------------------------------------------------------------------- */

#menu {
    padding-inline: 0.5rem;
    border-right: 1px var(--palette-2) solid;
    width: 13em;

    &:empty {
        width: 100px;
        border: none;
        display: none;
    }

    li {
        &.separator {
            border-bottom: 1px solid var(--palette-2);
            margin: 1em 35%;
        }

        &.tag {
            user-select: none;

            &:hover {
                font-weight: bold;
            }

            label {
                display: inline-block;
                width: 100%;
            }
        }
    }
}

/* - Display ---------------------------------------------------------------------------- */

#display {
    display: grid;
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    grid-auto-rows: min-content;
    gap: 0.5em;
    padding-inline: 0.5rem;

    &:empty {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column: span 2;
    }
}

/* - Footer ----------------------------------------------------------------------------- */

#footer {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    justify-items: center;
    background: var(--palette-2);
    color: var(--palette-text-2);
    padding: 0.25em 0.5em;

    .link-column {
        .title {
            margin-bottom: 0.5rem;
        }
    }

    #personal-links {
        li {
            display: inline-block;
            margin: 0;

            &+li {
                margin-left: 0.5em;
            }
        }
    }
}